<form #betdata="ngForm" class="bet-form">
  <div class="form-check">
    <div class="d-flex align-items-center mb-2">
      <input class="form-check-input me-2" type="radio" name="winner" [(ngModel)]="winner" value="both"
        id="flexRadioDefault1" required />
      <div class="d-flex align-items-center">
        <img src="{{ environment.team1Flag }}" alt="{{ team1Name }}" class="flag-img me-1">
        <img src="{{ environment.team2Flag }}" alt="{{ team2Name }}" class="flag-img me-2">
        <label class="form-check-label" for="flexRadioDefault1">
          Empate
        </label>
      </div>
    </div>
  </div>
  <div class="form-check">
    <div class="d-flex align-items-center mb-2">
      <input class="form-check-input me-2" type="radio" name="winner" [(ngModel)]="winner" value="ballenita"
        id="flexRadioDefault2" required />
      <div class="d-flex align-items-center">
        <img src="{{ environment.team1Flag }}" alt="{{ team1Name }}" class="flag-img me-2">
        <label class="form-check-label" for="flexRadioDefault2">
          {{ team1Name }}
        </label>
      </div>
    </div>
  </div>
  <div class="form-check">
    <div class="d-flex align-items-center mb-2">
      <input class="form-check-input me-2" type="radio" name="winner" [(ngModel)]="winner" value="playas"
        id="flexRadioDefault3" required />
      <div class="d-flex align-items-center">
        <img src="{{ environment.team2Flag }}" alt="{{ team2Name }}" class="flag-img me-2">
        <label class="form-check-label" for="flexRadioDefault3">
          {{ team2Name }}
        </label>
      </div>
    </div>
  </div>
  <div class="col-3 col-8">
    <label for="exampleFormControlInput1" class="form-label">Valor (Min: 0, Max: 1000)</label>
    <input type="number" class="form-control" name="mount" [(ngModel)]="mount" id="exampleFormControlInput1" required
      min="0" max="1000" />
  </div>
  <br />
  <button type="submit" [disabled]="betdata.invalid || processing" class="btn btn-primary" (click)="bet()">
    Apostar
  </button>
  <div>
    <mark>Solo se puede aportar una vez por cada resultado <b>por navegador</b></mark>
  </div>
</form>
<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-secondary float-end" (click)="update_chart()">Actualizar</button>
  </div>
  <div class="col-12">
    <canvas baseChart [data]="barChartData" [options]="environment.barChartOptions" [plugins]="barChartPlugins"
      [legend]="barChartLegend" [type]="'bar'">
    </canvas>
  </div>
</div>